@using Web_BanQuanAo.Models;

@{
    var session = Session["TaiKhoan"];
    if (Session["TaiKhoan"] == null)
    {

        <span class="me-5"><i class="bi bi-geo-alt"></i> Địa Chỉ</span>
       /* <span class="me-5 ms-2"><i class="bi bi-globe"></i> Tiếng Việt</span>*/
        <span><a href="@Url.Action("DangKy","NguoiDung")" style="color:white; text-decoration:none;">Đăng ký</a> </span>
        <span>|</span>
        <span><a href="@Url.Action("DangNhap","NguoiDung")" style="color:white; text-decoration:none;">Đăng nhập</a></span>
    }
    else
    {
        <span class="me-5"><i class="bi bi-geo-alt"></i> Hệ thống cửa hàng</span>
        <span class="me-5 ms-2"><i class="bi bi-globe"></i> Tiếng Việt</span>
        <span><a href="@Url.Action("Profile","NguoiDung",new { @TenNguoiDung=session})" style="text-decoration:none; color:white;"> Xin Chào: @session</a></span>
        <span>|</span>
        <span><a href="@Url.Action("DangXuat","NguoiDung")" style="color:white; text-decoration:none;">Đăng Xuất</a> </span>
        @*<span><a href="@Url.Action("DangKy","NguoiDung")" style="color:white; text-decoration:none;">Đăng ký</a> </span>
            <span>|</span>
            <span><a href="@Url.Action("DangNhap","NguoiDung")" style="color:white; text-decoration:none;">Đăng nhập</a></span>*@
    }



}
